/* CSS Document */
/*
@font-face {
    font-family: 'swiss_721roman';
    src: url('../font/swiss_721_extended-webfont.eot');
    src: url('../font/swiss_721_extended-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/swiss_721_extended-webfont.woff') format('woff'),
    url('../font/swiss_721_extended-webfont.ttf') format('truetype'),
    url('../font/swiss_721_extended-webfont.svg#swiss_721roman') format('svg');
    font-weight: normal;
    font-style: normal;
}
  */
#footer .container {
    background: #1681c2;
    color: #FFFFFF;
    text-shadow: none;
}

#footer .navbar .nav > li > a {
    color: #FFF;
    float: none;
    padding: 0px 15px;
    text-decoration: none;
    text-shadow: none;
}

/* design elements */
#designs {
    position: absolute;
    display: block;
    top: 0px;
    left: 50%;
    margin-left: -960px;
    width: 1920px;
    height: 1956px;
    background: url(../img/design-1170.jpg);
    z-index:-1;
}

#designm {
    position: absolute;
    display: block;
    top: 0px;
    left: 50%;
    margin-left: -160px;
    width: 320px;
    height: 1201px;
    background: url(../img/design-320.jpg);
    z-index:-1;
}

/* bootstrap adjustments */

body {
    background-color: #efefef;
    color: #717073;
    font-size: 13px;
}

body,
input,
.ui-widget {
    font-family: 'Swiss 721 W01 Extended';
}

.muted {
    color: #717073;
    opacity: 0.5;
}

.btn {
    text-shadow: none;
    font-size: 13px;
}

label, input, button, select, textarea {
    font-size: 13px;
}

.label-important {
    background-color: transparent;
    font-size: 25px;
}

#s2id_filterTags.select2-container-multi .select2-choices .select2-search-choice {
    -moz-user-select: none;
    background-clip: padding-box;
    background-color: #0076C0;
    background-image: none;
    border: 0 none;
    border-radius: 20px 20px 20px 20px;
    box-shadow: none;
    color: #FFFFFF;
    cursor: default;
    line-height: 14px;
    margin: 2px 0 3px 5px;
    padding: 10px 24px 7px 12px;
    position: relative;
}

#s2id_filterTags.select2-container-multi {
    width: 100%;
}

#s2id_filterTags.select2-container-multi .select2-choices {
    background-color: #DBDBDC;
    background-image: none;
    border: 0px none;
    padding: 5px;
}

#s2id_filterTags.select2-container-multi .select2-search-choice-close {
    float: right;
    left: inherit;
    right: 6px;
    top: 8px;
}

#s2id_filterTags.select2-container-multi.select2-container-active .select2-choices {
    border: 0px none;
    outline: none;
    background: #FFFFFF;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.nav-collapse-phone.collapse {
    height: auto;
    overflow: visible;
}

select {
    width: auto;
    margin-bottom: 0px;
}

select,
input[type="file"] {
    height: 41px;
    line-height: 41px;
}

.span12.divider {
    border-top: solid 1px #77b2d7;
}

.btn-group > .btn:first-child {
    border-radius: 0px;
    border-left: none 0px;
}
.btn-group > .btn:last-child {
    border-radius: 0px;
    border-right: none 0px;
}

.btn-group-large .btn {

}

.btn-group .btn {
    min-width: 30px;
    height: 41px;
    padding: 0px;
    line-height: 41px;
    margin-top: 5px;
    padding: 0px 30px;
    color: #0076c0;
    background-color: #FFFFFF;
    background-image: none;
    border: none 0px;
    border-left: solid 1px #77b2d7;
    border-right: solid 1px #77b2d7;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
}

.btn-group .btn.active {
    height: 46px;
    line-height: 46px;
    margin-top: 0px;
    background-color: #0076c0;
    color: #FFFFFF;
}

.btn-group .btn.active .inner {
    display: inline;
    background-color: #FFFFFF;
    color: #0076c0;
}

.btn-group .btn .inner {
    display: none;
    padding: 3px 4px;
    background-color: #0076c0;
    color: #FFFFFF;
}


#main-pane {
    width: 620px;
    min-height: 1px;
    margin-top: 20px;
}
#side-pane {
    width: 300px;
    min-height: 1px;
    margin-top: 20px;
}

#header .navbar .nav > li > a,
#header .navbar .nav-collapse > li > a,
#footer .navbar .nav > li > a {
    display: inline-block;
}

#brand {
    position: absolute;
    display: block;
    top: 0px;
    width: 304px;
    height: 161px;
    margin-left: 13px;
    background: url(../img/logo-falls-creek.png) #FFF center center no-repeat;
    z-index: 5;
}

/* Header top */

#header-top {
    position: absolute;
    top:0px;
    height: 42px;
    width: 100%;
    background: transparent;
    background: rgba(0, 35, 57, 0.33);
    color: #8ca3b5;
}

#header-top .nav {
  float: right;
}

#header-top li > a {
    padding: 10px;
    color: #8ca3b5;
    text-shadow: none;
}

#header-top li.social > a {
    padding: 10px 0px;
}

#header-top li:last-child > a {
    padding-right: 0px;
}

/* Header nav */
.navbar .btn-nav {
    background: none transparent;
    border-radius: 0px;
    border: none;
    box-shadow: none;
    text-shadow: none;
    color: #FFFFFF;
}

.navbar .btn-nav .icon-bar {
    display: block;
    width: 18px;
    height: 2px;
    background-color: #FFFFFF;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.btn-nav .icon-bar + .icon-bar {
    margin-top: 3px;
}
#header-nav {
    display: block;
    height: 131px;
    padding-top: 50px;
    background: url(../img/header-bg.jpg) #004590 0 0 repeat-x;
}

#header-nav .navbar .nav,
#header-nav .navbar .nav-collapse {
    top: 50%;
    margin-top: 40px;
}

#header-nav li > a {
    padding: 10px;
    color: #FFF;
    text-shadow: none;
}

#header-nav .btn.btn-search {
    color: #FFFFFF;
    margin-top: 40px;
    padding: 5px 20px;
    position: relative;
    top: 50%;
}

#header-nav .icon-search {
    font-size: 2em;
}

#header-nav .nav li.dropdown > .dropdown-toggle .caret,
#header-nav .nav-collapse li.dropdown > .dropdown-toggle .caret{
    border-bottom-color: #FFF;
    border-top-color: #FFF;
}

/* Header search */

#header-filter,
#header-search {
    background-color: #FFFFFF;
}

#header-filter .icon-repeat {
    font-size: 3em;
}

#header-filter .btn-search {
    border: solid 1px #79C143;
    padding: 20px 24px;
    margin-left: 8px;
    background: #79C143;
    color: #FFF;
    text-shadow: none;
    text-decoration: none;
}

#header-filter .btn-search:focus,
#header-filter .btn-search:hover,
#header-filter .btn-search:active {
    background: #FFFFFF;
    color: #79C143;
    border: solid 1px #79C143;
    text-decoration: none;
}

#header-filter .btn-search:focus i,
#header-filter .btn-search:hover i,
#header-filter .btn-search:active i {
    color: #79C143;
}

#header-filter .nav li {
    margin-left: 8px;
    margin-top: 20px;
}

#header-filter .nav li:first-child {
    margin-left: 0px;
}

#header-filter .nav li input[type="text"] {
    border-radius: 0px;
    height: 35px;
    line-height: 35px;
    border: solid 1px #bce0a1;
    box-shadow: none;
    color: #79C143;
}

#header-filter .input-append .btn {
    border-radius: 0px;
    height: 45px;
    width: 41px;
    padding: 0px;
    border: solid 1px #bce0a1;
    box-shadow: none;
    background-color: #FFFFFF;
    background-image: none;
    color: #79C143;
}


#search-tag {
    line-height:83px;
    margin-left:10px;
    font-size: 32px;
    color: #79c143;
}

#header {
    position: relative;
}

#header .btn,
#header .btn-group {
    margin-top: 0px;
}

#header .navbar .divider-vertical {
    margin: 0 4px;
    border-left: none;
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}

#header .navbar {
    font-size: 13px;
}


/* Side bar */
.nav-item,
.nav-header {
    min-height: 43px;
    padding: 3px 15px;
    background: none repeat scroll 0 0 #FFFFFF;
    color: #717073;
    font-size: 13px;
    font-weight: normal;
    line-height: 43px;
    text-align: left;
    text-shadow: none;
    text-transform: none;
}
.nav-item-slider {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #717073;
    font-size: 13px;
    font-weight: normal;
    line-height: 43px;
    min-height: 30px;
    padding: 5px;
    text-align: left;
    text-shadow: none;
    text-transform: none;
}
.nav-item-rating {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #717073;
    font-size: 13px;
    font-weight: normal;
    line-height: 43px;
    min-height: 30px;
    padding: 3px 15px;
    text-align: right;
    text-shadow: none;
    text-transform: none;
}
.nav-item-rating i {
    color: #0076C0;
}
.nav li.nav-item-rating,
.nav li.nav-header,
.nav li > ul {
    margin-top: 15px;
}

.nav-row {
    border-bottom: solid 1px #dadada;
}
#rating-filter {
    display: inline;
}

#side-pane .nav > li > a.btn-nav,
#side-pane .btn-nav {
    background-color: #FFFFFF;
    background-image: none;
    border: 0 none;
    border-radius: 0 0 0 0;
    color: #717073;
    line-height: 42px;
    min-height: 42px;
    text-shadow: none;
    text-align: left;
}


.radio,
.checkbox {
    min-height: 40px;
    padding-left: 0px;
    color: #717073;
    line-height: 40px;
    margin-bottom: 0px;
}

.indent1 .checkbox {
    padding-left: 40px;
}


.radio input[type="radio"],
.checkbox input[type="checkbox"] {
    float: left;
    margin-left: -30px;
}

.checkbox .inner {
    background: #717073;
    padding: 3px 4px;
    color: #FFFFFF;
    float: right;
    line-height: 20px;
    margin-top: 10px;
}

/* Cards */

#main {
    padding-top: 6px;
}

.cards{margin-left:-20px;list-style:none;*zoom:1;}.cards:before,.cards:after{display:table;content:"";line-height:0;}
.cards:after{clear:both;}
.cards > li {
    float:left;
    width: 300px;
    min-height: 1px;
    max-height: 367px;
    margin-bottom:20px;
    margin-left:20px;
}


.card {
    position: relative;
}

.card .title {
    position: absolute;
    z-index: 5;
    top: 10px;
    left: 0px;
    min-height: 40px;
    background-color: #0076c0;
    color: #FFFFFF;
    font-size: 18px;
    width: 93%;
    margin-left: -8px;
    padding: 10px;
}

.card .title:after {
    border-top: 8px solid #0e669c;
}

.card .tag-special:after {
    border-top: 8px solid #539025;
}

.card .tag-popular:after {
    border-top: 8px solid #ee1111;
}

.card .title:after,
.card .tag-popular:after,
.card .tag-special:after {
    display: block;
    content: "";
    position: absolute;
    left: 0px;
    bottom: -8px;
    z-index: 6;
    width: 0;
    height: 0;
    line-height: 0px;
    border-left: 8px solid transparent;
    border-right: 0px solid transparent;
    transform:rotate(360deg);
    -ms-transform:rotate(360deg); /* IE 9 */
    -moz-transform:rotate(360deg); /* Firefox */
    -webkit-transform:rotate(360deg); /* Safari and Chrome */
    -o-transform:rotate(360deg); /* Opera */
}

.card .content .divider {
    border-bottom: 1px solid #b8b7b9;
}

.card .tag {
    position: absolute;
    left: -8px;
    bottom:60px;
    padding: 5px 10px 5px 5px;
    color: #FFF;
    text-transform:uppercase;
}
.card .tag-special {
    background: #7cc14b;
}
.card .tag-popular {
    background: #f94c46;
}

.card .thumbnail {
    position: relative;
    border: none 0px;
    border-radius: 0px;
    box-shadow: none;
    padding:0px;
}

.card .thumbnail-inner {
    overflow: hidden;
    height: 200px;
}

.card .info-bar {
    position: absolute;
    bottom: 0px;
    background: #FFF;
    width:100%;
    padding: 0px;
    margin: 0px;
    opacity: 0.85;
}

.card .info-bar .info-content {
  padding: 15px 10px;

}

.card .content,
.card .content-top {
    padding: 5px;
    background-color: #FFFFFF;
    text-transform: uppercase;
}

.card .content .btn-primary {
    display: block;
    margin-left: 50px;
}

.card .content .btn-wishlist {
    background-color: #F3683C;
    background-image: none;
    border: 1px solid #F3683C;
    border-radius: 0 0 0 0;
    color: #FFFFFF;
    float: left;
    width: 19px;
}
.card .content .btn-wishlist:hover,
.card .content .btn-wishlist:focus,
.card .content .btn-wishlist:active {
    color: #F3683C;
    background-color: #FFFFFF;
}

.card .content .btn-wishlist i.icon-star {
    font-size: 1.2em;
}

.card .content .btn-wishlist:hover i.icon-star,
.card .content .btn-wishlist:focus i.icon-star,
.card .content .btn-wishlist:active i.icon-star {
    color: #f3683c;
}

.card .content-group {
    line-height: 23px;
    margin-bottom: 5px;
    padding: 5px;
}

.card .content-group .distance {
    font-size: 13px;
    text-align: right;
}

.btn-primary {
    border: solid 1px #f3683c;
    background-color: #FFFFFF;
    background-image: none;
    border-radius: 0px;
    color: #f3683c;
    text-transform:uppercase;
    font-size:16px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    color: #ffffff;
    background-color: #f3683c;
    *background-color: #f3683c;
}

.btn-primary:active,
.btn-primary.active {
    background-color: #f3683c;
}

.btn-more {
    border: solid 1px #f3683c;
    background-color: #f3683c;
    background-image: none;
    border-radius: 0px;
    color: #FFFFFF;
}

.icon-shock {
    display: block;
    background: url("../img/icon-bolt.png") no-repeat;
    width: 9px;
    height: 20px;
}

.icon-map:before {
    content: "\f041";
}

.icons-accom {
    display: inline-block;
    background: url("../img/icon-accom.png") no-repeat;
    width: 36px;
    height: 30px;
}

.icons-food {
    display: inline-block;
    background: url("../img/icon-food.png") no-repeat;
    width: 35px;
    height: 26px;
}

.icons-events {
    display: inline-block;
    background: url("../img/icon-events.png") no-repeat;
    width: 37px;
    height: 33px;
}
.icons-filter {
    display: inline-block;
    background: url("../img/icon-filter.png") no-repeat;
    width: 18px;
    height: 18px;
}

.ui-datepicker{ z-index: 100 !important;}

.ui-slider {
    margin-bottom: 0px;
    background: none transparent;
    border: 0px none;
    color: #FFFFFF;
}

.ui-slider-container {
    background: none repeat scroll 0 0 #DBDBDC;
    border: 0 none;
    height: 30px;
    padding-left: 25px;
    padding-right: 45px;
}

.ui-slider-horizontal .ui-slider-handle {
    top: 0em;
    width: 50px;
    height: 30px;
    line-height: 30px;
    margin-left: -25px;
    padding: 0 10px;
    border: 0px none;
    background: none #0076c0;
    color: #FFFFFF;
    text-align: center;
}

/* map */
.map-results {
    position: relative;
}
.map-results #markerdetail {
    position: absolute;
    z-index: 5;
    left: 0px;
    bottom:0px;
    width: 263px;
}

.map-results .card .title {
    position: relative;
    margin-right: 0px;
    margin-left: 0px;
    top: 0px;
}

.map-results .card .tag {
    right: -8px;
    left: auto;
}
.map-results .card .content,
.map-results .card .content-top,
.map-results .card .thumbnail {
    margin-left: 0px;
    margin-right: 8px;
}

.map-results .card .title:after,
.map-results .card .tag-popular:after,
.map-results .card .tag-special:after {
    border-left: 0px solid transparent;
    border-right: 8px solid transparent;
    right: 0px;
    left: auto;
    margin-left: 0;
}

.card .close {
    line-height:20px;
    position:relative;
    right:8px;
    top:8px;
    z-index: 6;
    opacity: 1;
    color: #FFFFFF;
}

#mainMap {
    display: block;
    width: 100%;
    height: 943px;
}

/* grid */

#grid .table {
    background: #FFFFFF;
    color: #717073;
}

#grid .table th {
    color: #8fb6da;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
}

#grid .table th.control {
    color: #717073;
}

#grid .table .btn-success {
    color: #80c44c;
}

#grid .table .btn-more {
    color: #f3683c;
}

#grid .btn-off {
    color: #717073;
}

#grid .btn-on {
    color: #f3683c;
}

#grid .table td,
#grid .table tr {
    text-align: center;
}
#grid .table tr td:first-child {
    text-align: left;
}
#grid .table td.selected {
    background-color: #e5f1f9;
}
#grid .table td.booked {
    color: #f33c3c;
}
.table-hover tbody tr:hover>td,
#grid .table tbody tr:hover>td.selected,
.table-hover tbody tr:hover>td.selected,
.table-hover tbody tr:hover>th {
    background: rgba(0, 118, 192, 0.15);
}

#grid .table td .title,
#grid .table td .price {
    color: #0076c0;
}

#grid .table-bordered th,
#grid .table-bordered td,
#grid .table-bordered {
    border-color: #d9ebf6;
    vertical-align: middle;
}

#main-pane .btn-full {
    min-height: 63px;
    line-height: 63px;
    font-size: 30px;
}

.btn-full {
    border-radius: 0px;
    padding: 0;
    width: 100%;
    color: #0076c0;
    background-image: none;
    background: #FFFFFF;
    border: none;
    min-height: 63px;
    line-height: 63px;
    font-size: 30px;
}

/* footer */

#footer {
    position: relative;
}


#footer .divider-vertical {
    margin: 0 4px;
    border-left: none;
    border-right: 1px solid #358fc3;
}

#footerNav {
    position: absolute;
    bottom: 10px;
    width: 100%;
    z-index: 5;
}

#footer .navbar {
    min-height: 60px;
    padding: 0px 10px;
    background: transparent;
    background: rgba(0, 118, 192, 0.90);
}

#footer .nav {
    top:50%;
    margin-top: 10px;

}
#footer .nav > li {
    line-height: 35px;
    padding: 0px 5px;
}

#footer .nav > li.share > a,
#footer .nav > li.divider-vertical,
#footer .nav > li > a {
    padding: 0px;
}

.ui-corner-all {
    border-radius: 0px;
}

#footerMap {
    display: block;
    width: 100%;
    height: 212px;
}

/** Pretty Checkbox */

.switch > div {
    display: inline-block;
    padding:0px;
    margin:0px;
}

.switch > a,
.switch > a:hover,
.switch > a:focus {
    color: #717073;
    text-decoration: none;
    padding-left: 10px;
}

.switch > div a{
    width: 60px;
    height: 28px;
    background: url("../img/ui-switch.png") top left no-repeat;
    display: block;
    float: left;
    cursor: pointer;
    margin:-7px 0px;
}

.switch > div a {background-position: 0 -2px;}
.switch > div a:focus{outline: 0 none;}
.switch > div a:focus{background-position: 0 -32px;}
.switch > div a.checked{ background-position: 0 -62px; }
.switch > div a.checked:focus{ background-position: 0 -92px; }

.switch > div label {
    display: block;
    float: left;
    margin: 6px 5px;
    cursor: pointer;
}

.switch > div.disabled a,
.switch > div.disabled label {
    cursor:not-allowed;
}


.checkbox > div,
.radio > div {
    display: inline-block;
    padding:0px;
    margin:0px;
}

.radio > a,
.radio > a:hover,
.radio > a:focus,
.checkbox > a,
.checkbox > a:hover,
.checkbox > a:focus {
    color: #717073;
    text-decoration: none;
    padding-left: 10px;
}

.checkbox > div a,
.radio > div a{
    width: 30px;
    height: 28px;
    background: url("../img/ui-checkbox.png") top left no-repeat;
    display: block;
    float: left;
    cursor: pointer;
    margin:-7px 0px;
}

.radio > div a {background-position: 0 -120px;}

.checkbox > div a:focus,
.radio > div a:focus {outline: 0 none;}

.checkbox > div a:focus{background-position: 0 -30px;}
.radio > div a:focus{background-position: 0 -150px;}

.checkbox > div a.checked{ background-position: 0 -60px; }
.radio > div a.checked { background-position: 0 -180px; }

.checkbox > div a.checked:focus{ background-position: 0 -90px; }
.radio > div a.checked:focus { background-position: 0 -210px; }

.checkbox > div label,
.radio > div label {
    display: block;
    float: left;
    margin: 6px 5px;
    cursor: pointer;
}

.checkbox > div.disabled a,
.radio > div.disabled a,
.checkbox > div.disabled label,
.radio > div.disabled label{
    cursor:not-allowed;
}

.checkbox > div.disabled a {
    background-position: 0 -240px;
}

.radio > div.disabled a {
    background-position: 0 -270px;
}



/* New Styles for Operator Bundle */
.clear{ clear: both; }
#operator-slider{ position: relative; }
#operator-slider .slider-caption{
	font-size: 26px;
	position: absolute;
	z-index: 5;
	top: -10px;
	left: 10px;
	min-height: 40px;
	background-color: #0076c0;
	color: #FFFFFF;
	margin-right: 10px;
	padding: 10px;
	width: 96%;
}
#operator-slider .slider-caption:after{
	display: block;
	content: "";
	position: absolute;
	right: -10px;
	top: 0px;
	z-index: 6;
	width: 0px;
	height: 0px;
	line-height: 0px;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #0e669c;
}

.op-section-header{ font-size: 40px; line-height: 1.2em; color: #0076c0; text-transform: uppercase; margin-bottom: 12px; }
.op-rooms{ background-color: #fff; position: relative; padding-top: 36px; }
.op-rooms-header{ position: absolute; font-size: 22px; color: #fff; background-color: #0076c0; min-height: 57px; line-height: 57px; width: 96%; left: 0; top: 0; padding-left: 12px; padding-right: 12px; z-index:1;}
.op-rooms-date{ margin: 0;}
.op-rooms-date.nav li {
    margin-left: 8px;
    margin-top: 20px;
	float: left;
}

.op-rooms-date.nav li:first-child {
    margin-left: 0px;
}

.op-rooms-date.nav li input[type="text"] {
    border-radius: 0px;
    height: 35px;
	padding-left: 12px;
    line-height: 35px;
    border: solid 1px #7fbadf;
    box-shadow: none;
    color: #7fbadf;
	text-transform: uppercase;	
}

.op-rooms-date .input-append .btn {
    border-radius: 0px;
    height: 45px;
    width: 46px;
    padding: 0px;
    border: solid 1px #7fbadf;
    box-shadow: none;
    background-color: #FFFFFF;
    background-image: none;
    color: #0076c0;
}
.op-rooms-details p{ font-size: 15px; }
.op-rooms-capacity{ color: #0076c0; text-align: right; padding: 24px 0; }
.op-rooms .btn-primary{ display: block; border-color: #0076c0; color: #0076c0; padding-top: 6px; padding-bottom: 6px; }

.contact-form-left .btn-primary{ display: block; border-color: #0076c0; color: #0076c0; padding-top: 6px; padding-bottom: 6px; }



.widget{ padding: 20px; background-color: #fff; }
.widget.right-padding{ padding-right: 0;}



/***** GENERAL CONTENT TEMPLATE STYLES STARTS HERE ****/


.page-title-div
{
background:#FFFFFF;
margin:0px;
padding:0px;
ma
}

.page-title
{
width:1155px;
padding:20px 0px 20px 5px;
margin:auto;
}

.page-title h1
{
color:#8bca5d;
font-size:48px;
font-family: 'swiss_721roman';
margin:0px;
padding:0px;
}

.general-content-main
{
background:#FFFFFF;
margin-top:15px;
}

.breadcrum-area-main
{
padding:10px 15px 15px 15px;
position:relative;
}

.general-content-page-heading2
{
width:700px;
padding-top:8px;
padding-bottom:5px;
}

.general-content-main h2
{

color:#0070c0;
font-size:28px;
font-weight:normal;
font-family: 'swiss_721roman';
line-height:normal;
}

.content-temp-body
{
padding-top:20px;
padding-right:18px;
}

.content-temp-lft
{
width:600px;
float:left;
padding-left:100px;
line-height:23px;
}

.content-temp-lft.span6
{
margin-left:0px;
}

.content-temp-lft p
{
margin:0px;
padding:0px;
margin-bottom:25px;
}

.map-inner
{
margin-bottom:30px;
}

.blockquote-main
{
padding-right:40px;
margin-bottom:50px;
padding-top:5px;
}

.general-content-main blockquote
{
color:#82b7d6;
font-size:22px;
background:url(../img/quote-lft.jpg) no-repeat left top;
border:none;
padding-left:40px;
font-weight:normal;
line-height:30px;
margin-bottom:0px;
margin-top:15px;
}

.general-content-main blockquote span
{
background:#7fb9df;
color:#fff;
}

.blockquote-author
{
float:right;
color:#ccc;
font-size:15px;
}

.general-content-main h3
{

color:#82b7d6;
font-size:18px;
font-weight:normal;
font-family: 'swiss_721roman';
line-height:normal;
margin-bottom:25px;
}


.general-content-main .list-item
{
padding-bottom:20px;

}

.general-content-main .list-item ul
{
margin:px;
padding:0px;
list-style:none;
}

.general-content-main .list-item ul li
{
list-style-image:url(../img/list-bullet.jpg);
padding-left:17px;
line-height:24px;
margin-bottom:10px;
}

.general-content-main .list-item ul
{
margin:px;
padding:0px;
list-style:none;
}

.general-content-main .list-item ul li ul li
{
list-style-image:url(../img/list-bullet2.jpg);
padding-left:5px;
line-height:24px;
margin:10px 0px 10px 0px;
}

.content-temp-rgt
{
width:352px;
float:right;
padding-left:14px;
}

.content-temp-rgt.span4
{
margin-left:0px;
}


.featured-hotel-heading
{
font-size:24px;
color:#0076c0;
padding-bottom:10px;
}

.feaured-hotel-block
{
width:352px;
}

.featured-accomodation-content
{
border:1px #f1f0f1 solid;
border-top:none;
padding:15px;
}

.featured-accomodation-content .hotel-area
{
float:left;
width:235px;
font-size:15px;
}

.hotel-rating
{
float:right;
}

.hotel-rating img
{
float:left;

}

.hotel-name
{
font-family: 'swiss_721roman';
font-size:17px;
font-weight:bold;
padding-top:12px;
}

.featured-accomodation-content .op-rooms
{
margin:0px;
padding:0px;
margin-top:15px;
}

.featured-accomodation-content .btn
{
font-size:17px;
}

.general-content-mailarea
{
position:absolute;
width:145px;
height:40px;
right:8px;
top:5px;
}
.general-content-mailarea a .content-share-icon
{

width:40px;
text-align:center;
display:block;
margin-right:8px;
float:left;
background:url(../img/new-icon.png) center #f1f0f1 no-repeat;
height:40px;
}

.general-content-mailarea a:hover .content-share-icon
{
background:url(../img/new-icon-hover.png) center #8bca5d no-repeat;
}

.general-content-mailarea a .content-mail-icon
{

width:40px;
text-align:center;
display:block;
margin-right:8px;
float:left;
background:url(../img/mail-icon.png) center #f1f0f1 no-repeat;
height:40px;
}

.general-content-mailarea a:hover .content-mail-icon
{
background:url(../img/mail-icon-hover.png) center #8bca5d no-repeat;
}

.general-content-mailarea a .content-printer-icon
{

width:40px;
text-align:center;
display:block;
margin-right:8px;
float:left;
background:url(../img/printer-icon.png) center #f1f0f1 no-repeat;
height:40px;
}

.general-content-mailarea a:hover .content-printer-icon
{
background:url(../img/printer-icon-hover.png) center #8bca5d no-repeat;
}

.breadcrumb{ font-size:13px; color:#ccc; background:none;}.breadcrumb>li{display:inline-block;*display:inline;*zoom:1;text-shadow:0 1px 0 #ffffff;}.breadcrumb>li>.divider{padding:0 5px;color:#ccc;}
.breadcrumb a{ font-size:13px; color:#ccc;}
.breadcrumb>.active{color:#999;}



/***** GENERAL CONTENT TEMPLATE STYLES ENDS HERE ****/





@media (min-width: 1200px) {

    #search-tag {
        font-size: 45px;
    }

    #header .navbar {
        font-size: 16px;
    }
    .nav-header {
        font-size: 14px;
    }
    .btn-group .btn {
        padding: 0px 37px;
    }
    .btn {
        font-size: 14px;
    }
    label, input, button, select, textarea {
        font-size: 14px;
    }
    body {
        font-size: 14px;
    }

    #main-pane {
        width: 870px;
    }

    #side-pane {
        width: 270px;
    }

    .cards > li {
        width: 270px;
        margin-left: 26px;
    }
}


@media (min-width: 980px) and (max-width: 1199px) {
    #header .navbar {
        font-size: 13px;
    }
    
    /**** GENERAL CONTENT TEMPLATE STYLES STARTS HERE ****/		
	.content-temp-lft
	{
	padding-left:20px;
	width:510px;
	}
/**** GENERAL CONTENT TEMPLATE STYLES ENDS HERE ****/
    
    
    
}

@media (max-width: 980px) {
    
/**** GENERAL CONTENT TEMPLATE STYLES STARTS HERE ****/	

.content-temp-lft
	{
	padding-left:20px;
	width:375px;
	}
	
.content-temp-rgt
{
width:276px;
}

.feaured-hotel-block
{
width:275px;
}

.featured-hotel-heading
{
font-size:20px;
}

/**** GENERAL CONTENT TEMPLATE STYLES ENDS HERE ****/

}

@media (max-width: 767px) {
    body {
        padding-left: 0px;
        padding-right: 0px;
        overflow-x: hidden;
        min-width: 320px;
    }

    .nav-collapse-phone,
    .nav-collapse-phone.collapse {
        height: 0;
        overflow: hidden;
    }

    .cards > li {
        width: 100%;
    }

    .cards {
        margin-right: 20px;
    }

    .card {
        margin-right: 10px;
    }

    .card .title {
        font-size: 13px;
        min-height: 0px;
        padding: 7px;
    }
    .card .info-bar .info-content {
        padding: 5px 10px;

    }

    #footerNav {
        position: relative;
    }
    #footer .navbar {
        background: none transparent;
    }
    #footer .nav {
        display: table;
        padding-left: 10px;
    }
    #footer .navbar .nav > li > a {
        padding: 10px 15px;
    }
    #footer .navbar .nav > li.share > a {
        padding: 10px 5px;
        color: #0076C0;
    }
    #footer .nav li {
        display: table-cell;
        width: 49.8%;
        padding: 0px;
        text-align: center;
        border-bottom: solid 1px #258FD5;
        border-right: solid 1px #258FD5;
        background: rgba(0, 118, 192, 0.90);

    }
    #footer .nav li:nth-child(4n+1) {
        border-right: none;
    }
    #footer .nav li.share,
    #footer .nav li.copyright{
        width:100%;
        background: none repeat scroll 0 0 transparent;
        color: #0076C0;
        font-size: 1.5em;
        width: 100%;
        border-right: none;
        border-bottom: none;
        line-height: 65px;
    }
    #footer .nav li.copyright {
        font-size: 1em;
    }
    #footer .nav li.divider-vertical {
        display: none;
        width: 0px;
    }

    .icons-accom {
        display: inline-block;
        background: url("../img/icon-accom-small.png") no-repeat;
        width: 28px;
        height: 28px;
    }

    .icons-food {
        display: inline-block;
        background: url("../img/icon-food-small.png") no-repeat;
        width: 28px;
        height: 28px;
    }

    .icons-events {
        display: inline-block;
        background: url("../img/icon-events-small.png") no-repeat;
        width: 28px;
        height: 28px;
    }
    .icons-filter {
        display: inline-block;
        background: url("../img/icon-filter-small.png") no-repeat;
        width: 13px;
        height: 13px;
    }

    .navbar {
        margin-bottom: 0px;
    }
    #brand {
        background: url(../img/logo-falls-creek-mobile.png) #FFF center center no-repeat;
        position: absolute;
        top: 41px;
        width: 202px;
        height: 67px;
        left: 50%;
        margin-left: -101px;
    }
    #main-pane, #side-pane {
        margin-top: 8px;
        margin-left: 16px;
        margin-right: 8px;
        padding-right: 0px;
        width: auto;
    }

    #header .btn,
    #header .btn-group {
        margin: 0;
        font-size: 12px;
    }

    #header-top {
        background: #2f2f2f;
        color: #979797;
        height: 28px;
    }
    #header-top li.social > a,
    #header-top li > a {
        color: #979797;
        padding: 3px;
    }
    #header-top .nav {
        float: none;
        margin-right: 28px;
        margin-left: 28px;
    }

    #header .navbar .divider-vertical {
        margin: 0 6px;
        height: 28px;
    }
    #header-nav .navbar .divider-vertical {
        display: none;
    }
    #header-nav .navbar .nav > li {
        width: 100%;
        line-height: 28px;
    }
    #header-nav .navbar .nav-collapse > li > a {
        width: 100%;
        text-align: center;
    }
    #header-nav {
        background: none;
        height: auto;
        padding-top: 25px;
    }
    #header-nav .navbar {
        background: #0076c0;
        margin-top: 30px;
        margin-bottom: 0px;
        min-height: 40px;
    }
    #header-nav .btn-search {
        padding: 5px 20px;
    }
    #header-nav .navbar .nav-collapse.in {
        margin-top: 20px;
        width: 100%;
    }
    #header-nav .nav-collapse.collapse {
        float: left;
        margin-top: 0px;
    }
    #header-nav .btn-nav {
        min-height: 28px;
        padding: 6px 16px;
    }
    #header-nav .btn.btn-search {
        margin-top: 0px;
        min-height: 28px;
        padding: 6px 16px;
    }
    #header-nav .btn-nav .icon-bar {
        height: 3px;
        width: 26px;
        margin-top: 5px;
    }
    #header-nav .btn-nav .icon-bar + .icon-bar {
        margin-top: 4px;
    }

    #header-filter {
        background-color: #80c44c;
    }

    #header-filter .caret {
        border-bottom-color: #FFF;
        border-top-color: #FFF;
        margin-top: 5px;
        font-size: 1.5em;
    }

    #header-filter .btn.active {
        background-color: #579825;
    }
    #header-filter .btn {
        background-color: #80c44c;
        background-image: none;
        border-radius: 0px;
        border-style: none none none solid;
        border-width: 0 1px;
        box-shadow: none;
        color: #FFFFFF;
        border-color: rgba(255, 255, 255, 0.25);
        line-height: 13px;
        padding: 0px 5px;
    }
    #header-filter .btn-group .btn:first-child,
    #header-filter .btn-group .btn:last-child{
        padding: 0px;
        min-width: 50px;
    }

    #header-filter .btn i {
        margin-top: 12px;
    }
    #header-filter .input-append .btn i,
    #header-filter .btn i.icons-filter {
        margin-top: 0px;
    }
    #header-filter .btn-group {
        display: table;
        width: 100%;
    }
    #header-filter .btn-group a {
        display: table-cell;
        width: 20%;
    }
    #header-filter .input-append .btn {
        height: 35px;
    }

    #header-filter .btn.active .inner,
    #header-filter .btn .inner {
        background-color: #FFFFFF;
        color: #80c44c;
        font-size: 8px;
        line-height: 16px;
        display: inline-block;
        margin-top: 19px;
        padding: 0 4px;
        vertical-align: top;
    }
    #header-filter .nav li:first-child,
    #header-filter .nav li {
        margin-left: 20px;
    }
    
    
    /**** GENERAL CONTENT TEMPLATE STYLES STARTS HERE ****/	
.content-temp-lft
{
width:440px;
}

.content-temp-rgt
{
float:left;
}

.page-title
{
width:475px;
}

.general-content-page-heading2
{
width:440px;
}

.page-title h1
{
font-size:25px;
}

/**** GENERAL CONTENT TEMPLATE STYLES ENDS HERE ****/
    

}


@media (min-width: 768px) and (max-width: 979px) {

    #footer .divider-vertical {
        margin: 0px;
        padding: 0px;
    }

    #main-pane {
        width: 476px;
    }

    #side-pane {
        width: 228px;
    }

    #header-nav .container {
        width: auto;
    }

    #search-filter .input-append {
        width: 210px;
    }
    #search-filter .input-append input {
        width: 152px;
    }
    #header-filter .nav li {
        margin-left: 4px;
    }
    #header-filter .btn-search {
        margin-left: 0;
        padding: 20px 21px;
    }

    .cards > li {
        width: 228px;
        margin-left: 20px;
    }

    .navbar {
        margin-bottom: 0px;
    }
    #brand {
        background: url(../img/logo-falls-creek-mobile.png) #FFF center center no-repeat;
        position: absolute;
        top: 41px;
        width: 202px;
        height: 67px;
        left: 50%;
        margin-left: -101px;
    }

    #header .btn,
    #header .btn-group {
        margin: 0;
        font-size: 12px;
    }

    #header-top {
        background: #2f2f2f;
        color: #979797;
        height: 28px;
    }
    #header-top li.social > a,
    #header-top li > a {
        color: #979797;
        padding: 3px;
    }
    #header-top .nav {
        float: none;
        margin-right: 28px;
        margin-left: 28px;
    }
    #header .navbar .divider-vertical {
        margin: 0 6px;
        height: 28px;
    }
    #header-nav .navbar .divider-vertical {
        display: none;
    }
    #header-nav .navbar .nav > li {
        width: 100%;
        line-height: 28px;
    }
    #header-nav .navbar .nav-collapse > li > a {
        width: 100%;
        text-align: center;
    }
    #header-nav {
        background: none;
        height: auto;
        padding-top: 25px;
    }
    #header-nav .navbar {
        background: #0076c0;
        margin-top: 30px;
        margin-bottom: 0px;
        min-height: 40px;
    }
    #header-nav .btn-search {
        padding: 5px 20px;
    }
    #header-nav .navbar .nav-collapse.in {
        margin-top: 20px;
        width: 100%;
    }
    #header-nav .nav-collapse.collapse {
        float: left;
        margin-top: 0px;
    }
    #header-nav .btn-nav {
        min-height: 28px;
        padding: 6px 16px;
    }
    #header-nav .btn.btn-search {
        margin-top: 0px;
        min-height: 28px;
        padding: 6px 16px;
    }
    #header-nav .btn-nav .icon-bar {
        height: 3px;
        width: 26px;
        margin-top: 5px;
    }
    #header-nav .btn-nav .icon-bar + .icon-bar {
        margin-top: 4px;
    }
    #header-filter .navbar {
        margin-bottom: 20px;
    }
}


@media (max-width: 479px) {

/**** GENERAL CONTENT TEMPLATE STYLES STARTS HERE ****/
.content-temp-lft
{
width:280px;
}

.content-temp-rgt
{
float:left;
}

.page-title
{
width:280px;
}

.page-title h1
{
font-size:25px;
}

.general-content-page-heading2
{
width:280px;
}

/**** GENERAL CONTENT TEMPLATE STYLES ENDS HERE ****/




}






