<label class="radio">
    <input type="radio" name="townGroup" ng-model="town" value="1" ng-change="change()"> Beechworth <br/>
</label>
<label class="radio">
    <input type="radio" name="townGroup" ng-model="town" value="2" ng-change="change()"> Rutherglen <br/>
</label>    
<label class="radio">
<input type="radio" name="townGroup" ng-model="town" value="3" ng-change="change()"> Falls Creek <br/>
</label>
<label class="radio">
    <input type="radio" name="townGroup" ng-model="town" value="4" ng-change="change()"> Mansfield Mt. Buller <br/>
</label>