<div id="listview" class="tabbable">
  <ul class="nav nav-pills">
    <li class="active"><a href="#pane1" data-toggle="tab">Accommodation</a></li>
    <li><a href="#pane2" data-toggle="tab">Food & Wine</a></li>
    <li><a href="#pane3" data-toggle="tab">Events</a></li>
    <li><a href="#pane4" data-toggle="tab">Attractions</a></li>
  </ul>
  <div class="tab-content">
    <div id="pane1" class="tab-pane active">
          <p>Showing {{ accommodation.length }} listings </p>

            <ul class="thumbnails">                
                
                <li class="span3" ng-repeat="operator in accommodation">
                  <div class="thumbnail">
                    <legend>Distance {{ operator.distance | number:2}}km</legend>
                    <img ng-src="{{operator.image}}"/>                    
                    <b>{{operator.name}}</b>                 
                    <div class="truncate">{{operator.description | truncate:120 }}</div>
                    <div class="star" data-score="4"></div>
                  </div>
                </li>

             </ul>
         
        
    </div>
    <div id="pane2" class="tab-pane">

    </div>
    <div id="pane3" class="tab-pane">
        <p>Showing {{ events.length }} listings </p>
            <ul class="thumbnails">                
                
                <li class="span3" ng-repeat="operator in events">
                  <div class="thumbnail">
                    <legend>Distance {{ operator.distance | number:2}}km</legend>
                    <img ng-src="{{operator.image}}"/>                    
                    <b>{{operator.name}}</b>                 
                    <div class="truncate">{{operator.description | truncate:120 }}</div>
                    <div class="star" data-score="4"></div>
                  </div>
                </li>

             </ul>
    </div>
    <div id="pane4" class="tab-pane">
        <p>Showing {{ attractions.length }} listings </p>
            <ul class="thumbnails">                
                
                <li class="span3" ng-repeat="operator in attractions">
                  <div class="thumbnail">
                    <legend>Distance {{ operator.distance | number:2}}km</legend>
                    <img ng-src="{{operator.image}}"/>                    
                    <b>{{operator.name}}</b>                 
                    <div class="truncate">{{operator.description | truncate:120 }}</div>
                    <div class="star" data-score="4"></div>
                  </div>
                </li>

             </ul>
    </div>
  </div>
</div>