{% for link in links %}
    <dl>
        <dt><h3>{{ link.name }}</h3></dt>
        {% if link.items is defined %}
            {% for item in link.items %}
                <dd><a href="{%if link.pageId is empty %}#{% else %}{{ path(page(link.pageId)) }}{% endif %}">{{ item.name }}</a></dd>
            {% endfor %}
        {% endif %}
    </dl>
{% endfor %}
