<div id="whiteBgTop">

        <div id="panel0" class="container">

            <div class="row">
                <div class="span4 logo">
                    <h1><a href="/" title="Rutherglen">Rutherglen</a></h1>
                    {#<a class="toggleMenu showTablet" href="#"><span class="entypo list"></span></a>#}
                    {#<a class="search showTablet" href="#"><span class="entypo search"></span></a>#}
                </div>
                <div class="span8">
                    <ul class="inline bar">
                        <li class="hidden-phone hidden-tablet"><a href="#">weather<span class="climacon sun"></span></a></li>
                        <li class="show1024 hidden-desktop"><a href="#">NOW <strong>3.4&deg;</strong>C</a></li>
                        <li class="hidden-phone hidden-tablet"><a href="#" class="toggleDesktopShare">share<span class="entypo share"></span></a></li><!-- TODO: conect to addThis API -->
                        <li class="wide">
                            <a href="#" class="toggleDesktop">connect
                                <span class="icon-facebook"></span>
                                <span class="icon-twitter"></span>
                                <span class="icon-mail"></span>
                            </a>
                        </li>
                        <li class="hidden-phone hidden-tablet"><a href="#" class="toggleDesktop">search</a></li>
                        <li class="lastLi">
                            <a href="#" class="last">planner 
                                <span class="entypo cart show1024 hidden-tablet hidden-desktop"></span>
                            </a>
                        </li>
                    </ul>
                    <!--  ATM we need to show different menu due to functional differences between mob and desktop-->
                    <!-- DESKTOP NAV STARTS -->
                    <ul id="desktopNav" class="inline nav clearfix hidden-phone">
                        <li><a href="#" class="toggleDesktop">Visit</a></li>
                        <li><a href="#" class="toggleDesktop">Accomodation</a></li>
                        <li><a href="#" class="toggleDesktop">Food &amp; Wine</a></li>
                        <li><a href="#" class="toggleDesktop">Events &amp; Attractions</a></li>
                        <li><a href="#" class="toggleDesktop">Contact</a></li>
                    </ul>
                    <!-- DESKTOP NAV ENDS -->
       <!-- MOBILE NAV STARTS -->
                    <ul id="mobileNav" class="inline nav toggle clearfix">
                        <li>
                            <a href="#">Visit</a>
                            <ul class="hidden-phone">
                                <li><h2>Staying in Rutherglen</h2></li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas imperdiet, mi ut adipiscing elementum, urna nulla posuere orci, eu vulputate elit enim vulputate lorem.</li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="#"><h3>Featured hotels</h3></a>
                                    <ul>
                                        <li><a href="#">Menu item</a></li>
                                        <li><a href="#">Menu item</a></li>
                                        <li><a href="#">Menu item</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="#"><h3>Getting here</h3></a>
                                    <ul>
                                        <li><a href="#">Menu item</a></li>
                                        <li><a href="#">Menu item</a></li>
                                        <li><a href="#">Menu item</a></li>
                                    </ul>
                            </li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="#"><h3>Tours</h3></a>
                                    <ul>
                                        <li><a href="#">Menu item</a></li>
                                        <li><a href="#">Menu item</a></li>
                                        <li><a href="#">Menu item</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="#"><h3>Find by type</h3></a>
                                    <ul>
                                        <li><a href="#">Hotels</a></li>
                                        <li><a href="#">Bed &amp; Breakfast</a></li>
                                        <li><a href="#">Motel</a></li>
                                        <li><a href="#">Campsite</a></li>
                                        <li><a href="#">Cabin</a></li>
                                        <li><a href="#">Another type</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Accomodation</a>
                            <ul class="hidden-phone">
                                <li><h2>Staying in Rutherglen</h2></li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas imperdiet, mi ut adipiscing elementum, urna nulla posuere orci, eu vulputate elit enim vulputate lorem.</li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="#"><h3>Featured hotels</h3></a>
                                    <ul>
                                        <li><a href="#">Menu item</a></li>
                                        <li><a href="#">Menu item</a></li>
                                        <li><a href="#">Menu item</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="#"><h3>Getting here</h3></a>
                                    <ul>
                                        <li><a href="#">Menu item</a></li>
                                        <li><a href="#">Menu item</a></li>
                                        <li><a href="#">Menu item</a></li>
                                    </ul>
                            </li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="#"><h3>Tours</h3></a>
                                    <ul>
                                        <li><a href="#">Menu item</a></li>
                                        <li><a href="#">Menu item</a></li>
                                        <li><a href="#">Menu item</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="#"><h3>Find by type</h3></a>
                                    <ul>
                                        <li><a href="#">Hotels</a></li>
                                        <li><a href="#">Bed &amp; Breakfast</a></li>
                                        <li><a href="#">Motel</a></li>
                                        <li><a href="#">Campsite</a></li>
                                        <li><a href="#">Cabin</a></li>
                                        <li><a href="#">Another type</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Food &amp; Wine</a>
                            <ul class="hidden-phone">
                                <li><h2>Staying in Rutherglen</h2></li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas imperdiet, mi ut adipiscing elementum, urna nulla posuere orci, eu vulputate elit enim vulputate lorem.</li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="#"><h3>Featured hotels</h3></a>
                                    <ul>
                                        <li><a href="#">Menu item</a></li>
                                        <li><a href="#">Menu item</a></li>
                                        <li><a href="#">Menu item</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="#"><h3>Getting here</h3></a>
                                    <ul>
                                        <li><a href="#">Menu item</a></li>
                                        <li><a href="#">Menu item</a></li>
                                        <li><a href="#">Menu item</a></li>
                                    </ul>
                            </li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="#"><h3>Tours</h3></a>
                                    <ul>
                                        <li><a href="#">Menu item</a></li>
                                        <li><a href="#">Menu item</a></li>
                                        <li><a href="#">Menu item</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="#"><h3>Find by type</h3></a>
                                    <ul>
                                        <li><a href="#">Hotels</a></li>
                                        <li><a href="#">Bed &amp; Breakfast</a></li>
                                        <li><a href="#">Motel</a></li>
                                        <li><a href="#">Campsite</a></li>
                                        <li><a href="#">Cabin</a></li>
                                        <li><a href="#">Another type</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Events &amp; Attractions</a>
                            <ul class="hidden-phone">
                                <li><h2>Staying in Rutherglen</h2></li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas imperdiet, mi ut adipiscing elementum, urna nulla posuere orci, eu vulputate elit enim vulputate lorem.</li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="#"><h3>Featured hotels</h3></a>
                                    <ul>
                                        <li><a href="#">Menu item</a></li>
                                        <li><a href="#">Menu item</a></li>
                                        <li><a href="#">Menu item</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="#"><h3>Getting here</h3></a>
                                    <ul>
                                        <li><a href="#">Menu item</a></li>
                                        <li><a href="#">Menu item</a></li>
                                        <li><a href="#">Menu item</a></li>
                                    </ul>
                            </li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="#"><h3>Tours</h3></a>
                                    <ul>
                                        <li><a href="#">Menu item</a></li>
                                        <li><a href="#">Menu item</a></li>
                                        <li><a href="#">Menu item</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="#"><h3>Find by type</h3></a>
                                    <ul>
                                        <li><a href="#">Hotels</a></li>
                                        <li><a href="#">Bed &amp; Breakfast</a></li>
                                        <li><a href="#">Motel</a></li>
                                        <li><a href="#">Campsite</a></li>
                                        <li><a href="#">Cabin</a></li>
                                        <li><a href="#">Another type</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                            <ul class="hidden-phone">
                                <li><h2>Staying in Rutherglen</h2></li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas imperdiet, mi ut adipiscing elementum, urna nulla posuere orci, eu vulputate elit enim vulputate lorem.</li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="#"><h3>Featured hotels</h3></a>
                                    <ul>
                                        <li><a href="#">Menu item</a></li>
                                        <li><a href="#">Menu item</a></li>
                                        <li><a href="#">Menu item</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="#"><h3>Getting here</h3></a>
                                    <ul>
                                        <li><a href="#">Menu item</a></li>
                                        <li><a href="#">Menu item</a></li>
                                        <li><a href="#">Menu item</a></li>
                                    </ul>
                            </li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="#"><h3>Tours</h3></a>
                                    <ul>
                                        <li><a href="#">Menu item</a></li>
                                        <li><a href="#">Menu item</a></li>
                                        <li><a href="#">Menu item</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="#"><h3>Find by type</h3></a>
                                    <ul>
                                        <li><a href="#">Hotels</a></li>
                                        <li><a href="#">Bed &amp; Breakfast</a></li>
                                        <li><a href="#">Motel</a></li>
                                        <li><a href="#">Campsite</a></li>
                                        <li><a href="#">Cabin</a></li>
                                        <li><a href="#">Another type</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- MOBILE NAV ENDS -->
                </div>

            </div>

            <!-- DESKTOP STARTS -->
            <div id="headerDrop" class="row clearfix">
                <!-- 
                    content changes based on index of nav item clicked
                    need a id="navContent"+index for every nav item that slides down
                -->
                <div id="navContent0" class="navContent">
                    <div class="span12 borderTop"></div>
                    <div class="span4">
                        <dl>
                            <dt><h2>1Staying in Rutherglen</h2></dt>
                            <dd>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas imperdiet, mi ut adipiscing elementum, urna nulla posuere orci, eu vulputate elit enim vulputate lorem.
                            </dd>
                        </dl>
                    </div>
                    <div class="span8">
                        <dl>
                            <dt><h3>Featured hotels</h3></dt>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                        </dl>
                        <dl>
                            <dt><h3>Getting here</h3></dt>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                        </dl>
                        <dl>
                            <dt><h3>Tours</h3></dt>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                        </dl>
                        <dl>
                            <dt><h3>Find by type</h3></dt>
                            <dd><a href="#">Hotels</a></dd>
                            <dd><a href="#">Bed &amp; Breakfast</a></dd>
                            <dd><a href="#">Motel</a></dd>
                            <dd><a href="#">Campsite</a></dd>
                            <dd><a href="#">Cabin</a></dd>
                            <dd><a href="#">Another type</a></dd>
                        </dl>
                    </div>
                    <div class="span12 borderBottom"></div>
                </div>
                <div id="navContent1" class="navContent">
                    <div class="span12 borderTop"></div>
                    <div class="span4">
                        <dl>
                            <dt><h2>2Staying in Rutherglen</h2></dt>
                            <dd>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas imperdiet, mi ut adipiscing elementum, urna nulla posuere orci, eu vulputate elit enim vulputate lorem.
                            </dd>
                        </dl>
                    </div>
                    <div class="span8">
                        <dl>
                            <dt><h3>Featured hotels</h3></dt>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                        </dl>
                        <dl>
                            <dt><h3>Getting here</h3></dt>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                        </dl>
                        <dl>
                            <dt><h3>Tours</h3></dt>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                        </dl>
                        <dl>
                            <dt><h3>Find by type</h3></dt>
                            <dd><a href="#">Hotels</a></dd>
                            <dd><a href="#">Bed &amp; Breakfast</a></dd>
                            <dd><a href="#">Motel</a></dd>
                            <dd><a href="#">Campsite</a></dd>
                            <dd><a href="#">Cabin</a></dd>
                            <dd><a href="#">Another type</a></dd>
                        </dl>
                    </div>
                    <div class="span12 borderBottom"></div>
                </div>
                <div id="navContent2" class="navContent">
                    <div class="span12 borderTop"></div>
                    <div class="span4">
                        <dl>
                            <dt><h2>3Staying in Rutherglen</h2></dt>
                            <dd>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas imperdiet, mi ut adipiscing elementum, urna nulla posuere orci, eu vulputate elit enim vulputate lorem.
                            </dd>
                        </dl>
                    </div>
                    <div class="span8">
                        <dl>
                            <dt><h3>Featured hotels</h3></dt>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                        </dl>
                        <dl>
                            <dt><h3>Getting here</h3></dt>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                        </dl>
                        <dl>
                            <dt><h3>Tours</h3></dt>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                        </dl>
                        <dl>
                            <dt><h3>Find by type</h3></dt>
                            <dd><a href="#">Hotels</a></dd>
                            <dd><a href="#">Bed &amp; Breakfast</a></dd>
                            <dd><a href="#">Motel</a></dd>
                            <dd><a href="#">Campsite</a></dd>
                            <dd><a href="#">Cabin</a></dd>
                            <dd><a href="#">Another type</a></dd>
                        </dl>
                    </div>
                    <div class="span12 borderBottom"></div>
                </div>
                <div id="navContent3" class="navContent">
                    <div class="span12 borderTop"></div>
                    <div class="span4">
                        <dl>
                            <dt><h2>4Staying in Rutherglen</h2></dt>
                            <dd>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas imperdiet, mi ut adipiscing elementum, urna nulla posuere orci, eu vulputate elit enim vulputate lorem.
                            </dd>
                        </dl>
                    </div>
                    <div class="span8">
                        <dl>
                            <dt><h3>Featured hotels</h3></dt>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                        </dl>
                        <dl>
                            <dt><h3>Getting here</h3></dt>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                        </dl>
                        <dl>
                            <dt><h3>Tours</h3></dt>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                        </dl>
                        <dl>
                            <dt><h3>Find by type</h3></dt>
                            <dd><a href="#">Hotels</a></dd>
                            <dd><a href="#">Bed &amp; Breakfast</a></dd>
                            <dd><a href="#">Motel</a></dd>
                            <dd><a href="#">Campsite</a></dd>
                            <dd><a href="#">Cabin</a></dd>
                            <dd><a href="#">Another type</a></dd>
                        </dl>
                    </div>
                    <div class="span12 borderBottom"></div>
                </div>
                <div id="navContent4" class="navContent">
                    <div class="span12 borderTop"></div>
                    <div class="span4">
                        <dl>
                            <dt><h2>5Staying in Rutherglen</h2></dt>
                            <dd>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas imperdiet, mi ut adipiscing elementum, urna nulla posuere orci, eu vulputate elit enim vulputate lorem.
                            </dd>
                        </dl>
                    </div>
                    <div class="span8">
                        <dl>
                            <dt><h3>Featured hotels</h3></dt>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                        </dl>
                        <dl>
                            <dt><h3>Getting here</h3></dt>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                        </dl>
                        <dl>
                            <dt><h3>Tours</h3></dt>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                        </dl>
                        <dl>
                            <dt><h3>Find by type</h3></dt>
                            <dd><a href="#">Hotels</a></dd>
                            <dd><a href="#">Bed &amp; Breakfast</a></dd>
                            <dd><a href="#">Motel</a></dd>
                            <dd><a href="#">Campsite</a></dd>
                            <dd><a href="#">Cabin</a></dd>
                            <dd><a href="#">Another type</a></dd>
                        </dl>
                    </div>
                    <div class="span12 borderBottom"></div>
                </div>
                <!-- top content panels index + top -->
                <div id="navContent2top" class="navContent">
                    <div class="span12 borderTop"></div>
                    <div class="span4">
                        <dl>
                            <dt><h2>Share</h2></dt>
                            <dd>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas imperdiet, mi ut adipiscing elementum, urna nulla posuere orci, eu vulputate elit enim vulputate lorem.
                            </dd>
                        </dl>
                    </div>
                    <div class="span8">
                        <dl>
                            <dt><h3>Featured hotels</h3></dt>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                        </dl>
                        <dl>
                            <dt><h3>Getting here</h3></dt>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                        </dl>
                        <dl>
                            <dt><h3>Tours</h3></dt>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                        </dl>
                        <dl>
                            <dt><h3>Find by type</h3></dt>
                            <dd><a href="#">Hotels</a></dd>
                            <dd><a href="#">Bed &amp; Breakfast</a></dd>
                            <dd><a href="#">Motel</a></dd>
                            <dd><a href="#">Campsite</a></dd>
                            <dd><a href="#">Cabin</a></dd>
                            <dd><a href="#">Another type</a></dd>
                        </dl>
                    </div>
                    <div class="span12 borderBottom"></div>
                </div>
                <div id="navContent3top" class="navContent">
                    <div class="span12 borderTop"></div>
                    <div class="span4">
                        <dl>
                            <dt><h2>Connect</h2></dt>
                            <dd>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas imperdiet, mi ut adipiscing elementum, urna nulla posuere orci, eu vulputate elit enim vulputate lorem.
                            </dd>
                        </dl>
                    </div>
                    <div class="span8">
                        <dl>
                            <dt><h3>Featured hotels</h3></dt>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                        </dl>
                        <dl>
                            <dt><h3>Getting here</h3></dt>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                        </dl>
                        <dl>
                            <dt><h3>Tours</h3></dt>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                            <dd><a href="#">Menu item</a></dd>
                        </dl>
                        <dl>
                            <dt><h3>Find by type</h3></dt>
                            <dd><a href="#">Hotels</a></dd>
                            <dd><a href="#">Bed &amp; Breakfast</a></dd>
                            <dd><a href="#">Motel</a></dd>
                            <dd><a href="#">Campsite</a></dd>
                            <dd><a href="#">Cabin</a></dd>
                            <dd><a href="#">Another type</a></dd>
                        </dl>
                    </div>
                    <div class="span12 borderBottom"></div>
                </div>

            </div>
            <!-- DESKTOP NAV ENDS -->

        </div><!-- container -->
    </div>
