<div id="whiteBgTop">

        <div id="panel0" class="container" style="position: relative;">

            <div class="row">
                <div class="span4 logo">
                    <h1><a href="/" title="Rutherglen">Rutherglen</a></h1>
                    <a class="toggleMenu showTablet" href="#"><span class="entypo list"></span></a>
                    <a class="search showTablet" href="#"><span class="entypo search"></span></a>
                </div>
                <div class="span8">
                    <ul class="inline bar">
                        <li class="hidden-phone hidden-tablet"><a href="#">weather<span class="climacon sun"></span></a></li>
                        <li class="show1024 hidden-desktop"><a href="#">NOW <strong>3.4&deg;</strong>C</a></li>
                        <li class="hidden-phone hidden-tablet"><a href="#" class="toggleDesktopShare">share<span class="entypo share"></span></a></li><!-- TODO: conect to addThis API -->
                        <li class="wide">
                            <a href="#" class="toggleDesktop">connect
                                <span class="icon-facebook"></span>
                                <span class="icon-twitter"></span>
                                <span class="icon-mail"></span>
                            </a>
                        </li>
                        <li class="hidden-phone hidden-tablet"><a href="#" class="toggleDesktop">search</a></li>
                        <li class="lastLi">
                            <a href="{{ path('booking_planner') }}" class="last">planner
                                <span class="entypo cart show1024 hidden-tablet hidden-desktop"></span>
                            </a>
                        </li>
                    </ul>

                 </div>
            </div>

            <div id="desktopMenu" class="row">
                    {{ sonata_page_render_container('menu', 'global') | sonata_page_render_custome_block([{'service':'sonata.block.service.menu', 'template':'desktop'}]) }}
            </div>




        </div><!-- container -->
    </div>
