    <header id="header">

        <!-- links -->
        <div id="header-top">
            <div class="navbar container">
                <!-- brand -->
                <a id="brand" class="hide-text" href="#">Falls Creek</a>

                <ul class="nav">
                    <li class="social">
                        Follow <a href="#" class="btn btn-link"><i class="icon-large icon-facebook"></i></a> <a href="#" class="btn btn-link"><i class="icon-large icon-twitter"></i></a>
                    </li>
                    
                    <li class="social" style="margin-left:30px; margin-right:17px;">
                        Subscribe  <a href="#"><i class="icon-large icon-envelope-alt"></i></a>
                    </li>
                    
                    
                    <li class="divider-vertical"></li>
                    <li style="margin-left:8px;">
                        <a href="#">Planner</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- nav -->
        <div id="header-nav">
            <div class="navbar container">
                <a class="btn btn-nav pull-left" data-toggle="collapse" data-target="#header-nav-items">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="btn btn-nav btn-search pull-right" data-toggle="collapse" data-target="#header-search">
                    <i class="icon-search"></i>
                </a>

                <ul id="header-nav-items" class="nav nav-collapse collapse pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Your Trip <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                        </ul>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">The Resort <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                        </ul>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Activities <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                        </ul>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <a href="#">News</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Corporate <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                        </ul>
                    </li>
                    <li class="divider-vertical"></li>
                </ul>
            </div>
        </div>
        
        <div id="header-search" class="collapse">
            <div class="navbar container">
                <input type="text" placeholder="Search" class="input-large" >
            </div>
        </div>
    </header>