<ul class="nav" ng-show="filters.OperatorView.name=='Accommodation'">
    <li>
        <a class="btn btn-nav" href="#">Instant confirmation <div switch class="switch pull-right" toggleHandler=""></div></a>
    </li>

    <li class="nav-header">Accommodation Type</li>
    <classifications-filter classifications="classifications" checked="{[{ true }]}" toggle="toggleClassification(value, checked)" limit="4"></classifications-filter>
</ul>
<ul class="nav">
    <li class="nav-header">Distance from</li>
    <distance-filter distance="filters.distance" destination="filters.destination" destinations="destinations" limit="2"></distance-filter>

    <li class="nav-header">Filter by tags</li>
    <tag-filter></tag-filter>
    <li>
        <ul class="nav nav-pills">
            <li><a href="#">Kid Friendly</a></li>
            <li class="active">
                <a href="#">Cycle Friendly <i class="icon-remove"></i></a>
            </li>
            <li><a href="#">Eco Friendly</a></li>
            <li><a href="#">Single</a></li>
        </ul>
    </li>
</ul>
<ul class="nav" ng-show="filters.OperatorView.name=='Accommodation'">
    <li class="nav-header">Maximum nightly rate</li>
    <price-filter price="filters.price" symbol="currency"></price-filter>

    <rating-filter score="0" op-rating="filters.rating"></rating-filter>

    <li class="nav-header">Facilities</li>
    <facilities-filter></facilities-filter>
    <li class="clearfix"><a class="btn btn-link muted pull-right" href="#">See more</a></li>

</ul>