<ul class="nav" ng-show="filters.OperatorView.name=='Accommodation'">
    <li>
        <a class="btn btn-nav" href="#">Instant confirmation <div switch class="switch pull-right" toggleHandler=""></div></a>
    </li>

    <li class="nav-header">Accommodation Type</li>
    <classifications-filter classifications="classifications" checked="{[{ true }]}" toggle="toggleClassification(value, checked)" limit="4"></classifications-filter>
</ul>
<ul class="nav">
    <li class="nav-header">Distance from</li>
    <distance-filter distance="filters.distance" destination="filters.destination" destinations="destinations" limit="2"></distance-filter>

    <li class="nav-header">Filter by tags</li>
    <tag-filter></tag-filter>
    <li>
        <select id="filterTags" multiple="" class="select2-offscreen">
            <option value="AL">Kid Friendly</option>
            <option value="WF">Cycle Friendly</option>
            <option value="EF">Eco Friendly</option>
            <option value="SI">Single</option>
        </select>
    </li>
</ul>
<ul class="nav" ng-show="filters.OperatorView.name=='Accommodation'">
    <li class="nav-header">Maximum nightly rate</li>
    <price-filter price="filters.price" symbol="currency"></price-filter>

    <rating-filter score="0" op-rating="filters.rating"></rating-filter>

    <li class="nav-header">Facilities</li>
    <facilities-filter></facilities-filter>
    <li class="clearfix"><a class="btn btn-link muted pull-right" href="#">See more</a></li>

</ul>