    <footer id="footer">
        <div id="footerNav">
            <div class="navbar container visible-phone">
                <ul class="nav">
                    <li class="share">
                        <span class="hide-tablet">Share </span><a href="#" class="btn btn-link"><i class="icon-facebook icon-large"></i></a> <a href="#" class="btn btn-link"><i class="icon-twitter icon-large"></i></a> <a href="#" class="btn btn-link"><i class="icon-google-plus icon-large"></i></a> <a href="#" class="btn btn-link"><i class="icon-envelope icon-large"></i></a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Your Trip</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">The Resort</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Activities</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <a href="#">News</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Corporate</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <a href="#">News</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="copyright">
                        &copy; 2013 Falls Creek Resort Management
                    </li>
                </ul>
            </div>
            <div class="container hidden-phone">
                <div class="row">
                    <div class="span5">
                        <ul class="footer-logos clearfix">
                            <li class="ruther-frames"><a href="#">Rurherglen-full of frames</a></li>
                            <li class="ruther-indigo"><a href="#">Rutherglen-indigo</a></li>
                            <li class="ruther-wine"><a href="#">Rutherglen-winemakers</a></li>
                        </ul>
                    </div>
                    <div class="span4 twitter-feed">
                        <h2>Twitter</h2>
                        <h4><a href="#">@rutherglenvic</a></h4>
                        <p>Rutherglen Apex are again putting on a great evening of entertainment Sunday 9th June (Winery Walkabout weekend)... <a href="#">http://fb.me/2DknP9P8S</a></p>
                        <a href="#">Replay</a> | <a href="#">Retweet</a> | <a href="#">Favorite</a>
                    </div>
                    <div class="span3">
                        <form method="" action="" id="subscribe-form">
                            <h2>Subscribe</h2>
                            <p>
                                <label for="">Your Name</label>
                                <input type="text" id="sub-name" name="sub-name" placeholder="i.e James Raynor">
                            </p>
                            <p>
                                <label for="">Your Email Address</label>
                                <input type="text" id="sub-email" name="sub-email" placeholder="i.e james@domain.com">
                            </p>
                            <p><button type="submit">stay informed</button></p>
                        </form>
                    </div>
                </div>
            </div>    
        </div>

        <!--<div id="footerMap" class="hidden-phone" />-->
    </footer>