    <footer id="footer">
        <div id="footerNav">
            <div class="navbar container">
                <ul class="nav">
                    <li class="share">
                        Share <a href="#" class="btn btn-link"><i class="icon-facebook icon-large"></i></a> <a href="#" class="btn btn-link"><i class="icon-twitter icon-large"></i></a> <a href="#" class="btn btn-link"><i class="icon-google-plus icon-large"></i></a> <a href="#" class="btn btn-link"><i class="icon-envelope icon-large"></i></a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Your Trip</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">The Resort</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Activities</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <a href="#">News</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Corporate</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <a href="#">News</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="copyright">
                        &copy; 2013 Falls Creek Resort Management
                    </li>
                </ul>
            </div>
        </div>

        <div id="footerMap" class="hidden-phone" />
    </footer>