    <header id="header">

        <!-- links -->
        <div id="header-top">
            <div class="navbar container topnav-my">
                <!-- brand -->
                <a id="brand" class="hide-text" href="#">Falls Creek</a>

                <ul class="nav">
                    <li class="social">
                        Connect <a href="javascript:fbShare();" class="btn btn-link"><i class="icon-facebook"></i></a> <a href="#" class="btn btn-link"><i class="icon-twitter"></i></a> <a href="#"><i class="icon-envelope-alt"></i></a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <a href="#">Cart</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <a href="#">Wishlist</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- nav -->
        <div id="header-nav">
            <div class="navbar container">
                <a class="btn btn-nav pull-left" data-toggle="collapse" data-target="#header-nav-items">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="btn btn-nav btn-search pull-right" data-toggle="collapse" data-target="#header-search">
                    <i class="icon-search"></i>
                </a>

                <ul id="header-nav-items" class="nav nav-collapse collapse pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Your Trip <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                        </ul>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">The Resort <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                        </ul>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Activities <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                        </ul>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <a href="#">News</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Corporate <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                        </ul>
                    </li>
                    <li class="divider-vertical"></li>
                </ul>
            </div>
        </div>

        <div id="header-search" class="collapse">
            <div class="navbar container">
                <input type="text" placeholder="Search" class="input-large" >
            </div>
        </div>

        <!-- filter options -->
        <div id="header-filter">
            <div class="navbar container">
                <div class="visible-phone">
                    <div id="tab1mobile" class="btn-group" data-toggle="buttons-radio">
                        <a class="btn" data-toggle="collapse" data-target="#search-sort">
                            Sort <span class="caret"></span>
                        </a>
                        <a href="#" class="btn active"><i class="icons-accom"></i> <div class="inner">123</div></a>
                        <a href="#" class="btn" ><i class="icons-food"></i> <span class="inner">123</span></a>
                        <a href="#" class="btn" ><i class="icons-events"></i> <span class="inner">123</span></a>
                        <a class="btn" data-toggle="collapse" data-target="#search-filter">
                            Filter <i class="icons-filter"></i>
                        </a>
                    </div>
                    <ul id="search-sort" class="nav collapse">
                        <li>
                            <div class="input-append">
                                <input class="span2" id="appendedInputButton4" type="text" value="Accomodation">
                                <button class="btn" type="button"><i class="icon-reorder"></i></button>
                            </div>
                        </li>
                    </ul>
                </div>
                <top-filters dates="filters.dates" filter-by-dates="filterByDates(dates)"></top-filters>
        </div>
    </header>
<script type="text/javascript">
    window.fbAsyncInit = function() {
        FB.init({
            appId: '268338333304765', // App ID
            status: true, // check login status
            cookie: true, // enable cookies to allow the server to access the session
            xfbml: true  // parse XFBML
        });
    };

    (function(d) {
        var js, id = 'facebook-jssdk';
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement('script');
        js.id = id;
        js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        d.getElementsByTagName('head')[0].appendChild(js);
    }(document));

    function fbShare()
    {
        FB.ui(
                {
                    method: 'feed',
                    name: 'test',
                    picture: 'http://rutherglen.ac.captechnix.com/images/facebook-promo.jpg',
                    caption: 'http://rutherglen.ac.captechnix.com/',
                    description: 'Test share',
                    link: 'http://rutherglen.ac.captechnix.com/',
                    show_error: true
                },
        function(response) {
        }
        );
    }
</script>