    <header id="header">

        <!-- top bar -->
        <div id="header-top">
            <div class="navbar container">
                <!-- brand -->
                <a id="brand" class="hide-text" href="#">Falls Creek</a>

                <ul class="nav">
                    <li class="social">
                        Connect <a href="#" class="btn btn-link"><i class="icon-facebook icon-large"></i></a> <a href="#" class="btn btn-link"><i class="icon-twitter icon-large"></i></a> <a href="#"><i class="icon-envelope-alt icon-large"></i></a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <a href="#">Cart</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <a href="#">Wishlist</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- top nav -->
        <div id="header-nav">
            <div class="navbar container">
                <a class="btn btn-navbar pull-left" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <ul class="nav nav-collapse collapse pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Your Trip <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                        </ul>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">The Resort <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                        </ul>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Activities <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                        </ul>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <a href="#">News</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Corporate <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                        </ul>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>

                        <a href="#" class="btn btn-link btn-search"><i class="icon-search"></i></a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- top search options -->
        <div id="header-search">
            <div class="navbar container">
                <div class="visible-phone">
                    <div id="tab1mobile" class="btn-group" data-toggle="buttons-radio">
                        <a class="btn" data-toggle="collapse" data-target=".nav-collapse">
                            Sort <span class="caret"></span>
                        </a>
                        <a href="#" class="btn active"><i class="icons-accom"></i> <span class="inner">123</span></a>
                        <a href="#" class="btn" ><i class="icons-food"></i> <span class="inner">123</span></a>
                        <a href="#" class="btn" ><i class="icons-events"></i> <span class="inner">123</span></a>
                        <a class="btn" data-toggle="collapse" data-target=".nav-collapse">
                            Filter <i class="icons-filter"></i>
                        </a>
                    </div>
                </div>
                <div id="search-tag" class="pull-left hidden-phone">I'm looking for</div>
                <div id="search-option" class="pull-right">
                    <ul class="nav nav-collapse collapse">
                        <li>
                            <div class="input-append">
                                <input class="span2" id="appendedInputButton1" type="text" value="Accomodation">
                                <button class="btn" type="button"><i class="icon-reorder"></i></button>
                            </div>
                        </li>
                        <li>
                            <div class="input-append">
                                <input class="span2" id="appendedInputButton2" type="text" value="2 Adults">
                                <button class="btn" type="button"><i class="icon-reorder"></i></button>
                            </div>
                        </li>
                        <li>
                            <div class="input-append">
                                <input class="span2" id="appendedInputButton3" type="text" value="7/5 - 12/5">
                                <button class="btn" type="button"><i class="icon-reorder"></i></button>
                            </div>
                        </li>

                    </ul>
                    <a href="#" class="btn btn-link btn-search pull-right hidden-phone"><i class="icon-repeat"></i></a>
                </div>
            </div>
        </div>
    </header>