<!-- Rooms Section Visible in Phone -->
        <div class="visible-phone">
			<div class="accordion" id="mobile-rooms">
            	<div class="accordion-group">
                	<div class="accordion-heading clearfix">
                    	<a href="#room1" class="accordion-toggle" data-toggle="collapse" data-parent="#mobile-rooms"><i class="icon-caret-right"></i> {{ room.name }}</a>
                        <span class="pull-right">2 Nights <em>$439</em></span>
                    </div>
                    <div class="accordion-body collapse in" id="room1">
                        <div class="accordion-inner">
                        	<div class="special-room">special</div>
                        	<img src="{{ asset('bundles/tneoperator/img/slide-img.jpg') }}" alt="" title="">
                            <div class="accordion-data">
                            <ul class="op-rooms-date nav clearfix">
                              <li class="date-pick">
                                <div class="date-pick-label">Check In</div>
                                <div class="input-append date-pick">
                                  <input class="span2 datepicker" id="" type="text" value="">
                                </div>
                              </li>
                              <li class="date-pick">
                                <div class="date-pick-label">Check Out</div>
                                <div class="input-append date-pick">
                                  <input class="span2 datepicker" id="" type="text" value="">
                                </div>
                              </li>
                            </ul>
							<div class="op-rooms-details">
			                    {{ room.description }}
            		        </div>
                    		<div class="op-rooms-capacity">MAX. CAPACITY<span>2</span></div>
                              <div class="addtocart-main">
                                <div class="star"><a href="#"><i class="icon-large icon-star"></i></a></div>
                                <div class="massage-addtocart"> <a href="#" class="btn btn-primary"><i class="icon-large icon-shopping-cart"></i> ADD TO CART</a> </div>
                              </div>
							 </div>
                            <!-- Start of facilities collapse -->
                            <a data-toggle="collapse" data-target="#facilities-1" class="sub-collapse collapsed"><i class="icon-caret-right"></i><i class="icon-caret-down"></i> Facilities</a>
                            <div class="collapse" id="facilities-1">
                            	<div class="accordion-data">
                                    <ul class="facilities">
                                        <li>220/240 V AC</li>
                                        <li>Automatic air control</li>
                                        <li>Safe deposit box in room</li>
                                        <li>TV with on-screen billing info</li>
                                        <li>Radio in room</li>
                                        <li>Opening windows</li>
                                        <li>Work desk in all rooms</li>
                                        <li>Pay per view channel(s)</li>
                                        <li>Manual temperature control</li>    
                                        <li>Telephone</li>
                                        <li>Wi-Fi in your room</li>
                                        <li>Minibar</li>
                                        <li>Iron in room</li>
                                        <li>Radio in room</li>
                                        <li>Full kitchen</li>
                                        <li>Microwave in room</li>
                                        <li>Coffee/tea making facilities</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- end of facilities collapse -->
                            <!-- Start of package collapse -->
                            <a data-toggle="collapse" data-target="#packages-1" class="sub-collapse collapsed"><i class="icon-caret-right"></i><i class="icon-caret-down"></i> Package Extras/Deals</a>
                            <div class="collapse" id="packages-1">
                            	<div class="accordion-data">
                                    <div class="massage-package">
                                      <h2>MASSAGE PACKAGE</h2>
                                      <div>Each apartment features a queen size bed in the bedroom a separate lounge with sofa bed and dining area fully equipped kitchen laundry bathroom and a private outdoor terrace with aundry bathroom and </div>
                                        <div class="addtocart-main">
                                          <div class="star"><a href="#"><i class="icon-large icon-star"></i></div>
                                          <div class="massage-addtocart"> <a class="btn btn-primary" href="#"><i class="icon-large icon-shopping-cart"></i> ADD TO CART</a> </div>
                                        </div>                                      
                                    </div>
                                    <div class="massage-package">
                                      <h2>MASSAGE PACKAGE</h2>
                                      <div>Each apartment features a queen size bed in the bedroom a separate lounge with sofa bed and dining area fully equipped kitchen laundry bathroom and a private outdoor terrace with aundry bathroom and </div>
                                      <div class="addtocart-main">
                                        <div class="star"><a href="#"><i class="icon-large icon-star"></i></div>
                                        <div class="massage-addtocart"> <a href="#" class="btn btn-primary"><i class="icon-large icon-shopping-cart"></i> ADD TO CART</a> </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end of package collapse -->                            
                        </div>
                    </div>
                </div>
            	
                                                
            </div>        	
            
            
        </div>
