{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends 'SonataBlockBundle:Block:block_base.html.twig' %}

{% block block %}

    <div class="sonata-media-block-feature-media-container">

        <div class="sonata-media-block-feature-media-container-{{ settings.orientation }}">
            {% if media %}
                {% media media, settings.format %}
            {% else %}
                <img title="" src="/uploads/default.jpeg" width="820" height="615">
            {% endif %}
        </div>

        {% if settings.title %}
            <h3 class="sonata-media-block-feature-media-title">{{ settings.title }}</h3>
        {% endif %}

        <div class="sonata-media-block-feature-media-content">
            {{ settings.content }}
        </div>

        <div style="clear: both"></div>
    </div>
    {% if sonata_page.isEditor or app.security and app.security.isGranted('ROLE_PREVIOUS_ADMIN') %}

    <a href="/app_dev.php/admin/sonata/media/media/list?uniqid=s51b41b760fd19&amp;code=sonata.media.admin.media&amp;pcode=sonata.page.admin.block&amp;puniqid=s51b41b76033d8" onclick="return start_field_dialog_form_list_s51b41b76033d8_settings_mediaId(this);" class="btn sonata-ba-action" blockid="{{ block.id }}" title="List"><i class="icon-list"></i>
                    Choose Image
                </a>
    <!--<a class="btn-primary btn" id="clickBtn" href="/app_dev.php/admin/sonata/media/media/list?uniqid=s51b41b760fd19&code=sonata.media.admin.media&pcode=sonata.page.admin.block&puniqid=s51b41b76033d8" data-toggle="modal" data-target="#myModal_{#{ block.id }#}">Edit</a> -->

    <div class="container sonata-ba-modal sonata-ba-modal-edit-one-to-one ui-dialog-content ui-widget-content" style="width: auto; min-height: 104px; height: auto; display: none; " id="field_dialog_s51b41b76033d8_settings_mediaId" scrolltop="0" scrollleft="0">
    </div>
    <!--<div class="modal fade" id="myModal_{#{ block.id }#}" style="width:80%;height:80%;overflow: scroll; left: 30%; display: none;"></div> -->
    {% endif %}
    
{% endblock %}